<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Combustible" connectionString="server=localhost;user id=root;password=*010405;database=mdeg_combustible"
      providerName="MySql.Data.MySqlClient" />
    <add name="SisGesCom.Properties.Settings.mdeg_combustibleConnectionString"
      connectionString="server=localhost;user id=root;password=*010405;database=mdeg_combustible"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
